/* body {
    background-color: #2A8AD2;
} */
header {
    background-image: url("/assets/imagens/home.png");
    height: 40rem;
    background-position: center;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #408ED3;
    text-align: center; */
}
header > h1,span {
    margin-top: 13rem;
    /* color: white; */
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}
header > span {
    margin-left: 6rem;
}
main {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
main img {
    width: 25rem;
    border-radius: 20px;
}
main p {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-size: 1.5rem;
}